@import 'tailwindcss';

:root {
  --test: blue;
}

@media (prefers-color-scheme: dark) {
  :root {
    --test: red;
  }
}


@theme {
  --font-family-display: 'Inter', sans-serif;

  --breakpoint-3xl: 1920px;

  --color-*: initial;
}